.testSection {
  display: flex;
  padding: 0 20px;
}

.testSectionList {
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
  margin-left: 20px;
}

.tip {
  max-width: 300px;
  font-size: 12px;
  margin-bottom: 10px;
  font-style: italic;
}
