.mButton {
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid;
  padding: 10px 24px 10px;
  font-size: 16px;
  border-radius: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  color: #fff;
  border-color: #4262ff;
  background-color: #4262ff;
  margin-left: 10px;

  &:first-child {
    margin-left: 0;
  }
}

.loading {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}