.dashboard {
  background: #f4f5f7;
  display: flex;
  flex-direction: row;
  height: 1300px;
  width: 100%;
}

.sidebar {
  flex-shrink: 0;
  background-color: #211F33;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  width: 40px;
}

.content {
  padding: 20px;
  display: flex;
  flex: 1 1 0%;
  justify-content: space-between;
  flex-wrap: wrap;
}