.item {
  display: flex;
  padding: 20px;

  section {
    margin-left: 20px;

    &:first-child {
      margin: 0;
    }
  }

  ul {
    padding: 0;
    list-style: none;
  }
}

.tip {
  max-width: 300px;
  font-size: 12px;
  margin-bottom: 10px;
  font-style: italic;
}
